.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(34, 30, 30, 0.329);
  color: var(--font-color);
  padding: 65px 42px 50px;
  background-position: center center;
  opacity: 0.77;
  margin-bottom: 35px;

  h2 {
    margin: 0;
    font-size: 1.92857em;
    letter-spacing: 0;
    text-align: center;
    line-height: 1;
  }

  p {
    padding: 0 55px;
    margin: 0 0 0 0;
    text-align: center;
    font-size: 14px;
  }
}

.home-page-works-featured {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.home-page-works {
  padding: 0 155px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.33%;
}



@media all and (min-width: 750px) {
  .about-us {
    padding: 75px 22px 50px;
    // background-size: 325%;
    h2 {
      font-size: 1.78571em;
    }
  
    p {
      font-size: 0.92857em;
      padding: 0 155px;
    }
  }

  .home-page-works-featured {
    font-size: 1em;
  }
  


  .home-page-works {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 155px;
  }
}
