.home-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;


  .swiper {
    height: 100%;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: var(--org-color);
  }
  
  .swiper-pagination {
    bottom: 50px;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--org-color);
  }
}

.home-page-works-featured {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.home-page-works {
  padding: 0 155px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.33%;
}



@media all and (min-width: 750px) {
  .about-us {
    padding: 275px 22px 50px;
    // background-size: 325%;
    h2 {
      font-size: 1.78571em;
    }
  
    p {
      font-size: 0.92857em;
      padding: 0 155px;
    }
  }

  .home-page-works-featured {
    font-size: 1em;
  }
  


  .home-page-works {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 155px;
  }
}

