
.button {
  padding: 0;
  background-color: transparent;
  outline: 2px solid #1d1d1d;
  border: none;
  letter-spacing: .1em;
  margin: 17px 0;
  transition: background-color 100ms linear, color 100ms linear;
}

.button:hover,
.button:hover a:visited,
.button:hover a:visited {
  background-color: #1d1d1d;
  color: #fff;
}

.button a:visited,
.button a {
  padding: 13px 26px;
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #1d1d1d;
}
