.work-preview {
  display: flex;
  flex-direction: column;
  width: 100%;

  a {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
  }
}

.work-preview img {
  width: 100%;
  height: auto;
}

.work-preview:hover {
  transition: opacity ease-in 0.23s;
  opacity: 0.3;
}