.work-preview {
  position: relative;
  width: 50%;

  // width: 100vw;
  // background-color: rgba(0,0,0,0.93);
  // overflow: hidden;

  a {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  p {
  }

  img {
    width: 100%;
    height: auto;
    opacity: 1;
    object-position: center;
  }

  .work-preview:hover {
    p {
      opacity: 0.4;
    }
  }

  @media all and (max-width: 700px) {
    
  }
}
