.header {
  // position: fixed;
  // top: 0;
  // left: 0;
  height: 65px;
  background-color: var(--main-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;

  a {
    color: black;
  }

  div {
    display: flex;
    align-items: center;

    a {
      margin-right: 22px;
      text-decoration: none;
    }
  }

  img {
    max-width: 200px;
  }
}

