.header {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;

  a {
    color: black;
  }



  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    // padding: 0 100px;
    
    a {
      // margin-right: 22px;
      color: var(--org-color);
      font-weight: bold;
      text-decoration: none;
    }

  }

  img {
    max-width: 100%;
  }
}


@media all and (max-width: 700px) {
  .header {
  background-color: var(--main-color);

  }
}
