.header {
  margin: 0 10px;
  position: relative;


  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    margin: 0;
    margin-left: 80px;
    margin-bottom: 1px;
    padding: 0;
    letter-spacing: 80px;
    color: var(--org-color)
  }

  a {
    max-height: 200px;
    color: black;
    letter-spacing: 5px;
    // font-weight: 100;
    max-width: 100%;
  }

  img {
    max-height: 200px;
    max-width: 100%;
  }
  nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 70%;
    max-width: 1000px;
    &.fullwidth {
      width: 100%;
      max-width: 1600px;
    }
    &.fixed {
      padding: 14px 0;
      position: fixed;
      z-index: 0;
      background-color: #fff;
    }
    > .active:after {
      width: 97%;
    }

    >a {
      position: relative;
      margin: 0 15px;
      padding: 0 0;
      color: var(--org-color);
      font-weight: bold;
      text-decoration: none;
      line-height: 1;
      box-sizing: border-box;
      text-align: center;

      &:after {
        padding: 0;
        content: "";
        position: absolute;
        background-color: var(--org-color);
        height: 2.3px;
        width: 0;
        left: -1px;
        bottom: -2px;
      }
      &:hover:after {
        transition: 0.3s;
        width: 97%;
      }
    }
  }
}

@media all and (max-width: 700px) {
  .header {
    background-color: var(--main-color);

    // border: red solid 1px;
    nav {
      width: 90%;

      a {
        font-size: 11px;

      }
    }
  }
}

@media all and (max-width: 400px) {
  .header {


    // border: red solid 1px;
    nav {


      a {
        font-size: 8px;

      }
    }
  }
}
