.artists {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .artists__heading{
    margin: 115px 0;
     > h2 {
      text-align: center;
      margin: 0;
      text-transform: uppercase;
      font-size: 10.125rem;
      font-weight: 500;
      letter-spacing: 8px;
      color: var(--org-color);
      line-height: 1;
    }
  
    > p {
      text-align: center;
    }
  }


  .artists-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 15px;
    gap: 15px;
  }
}



@media all and (max-width: 600px) {
  .artists-list {
    display: flex;
    flex-direction: column;
    transition: all 1s ease-in;
  }
}
