.work {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work img {
  width: 50%;
}


@media all and (max-width: 600px) {
  .work img {
    width: 100%;
  }
  
}

